<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example React App</title>
</head>
<body>

<div id="main" role="main">{{{markup}}}</div>

<script src="assets/bundle.js"></script>
</body>
</html>